@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
@keyframes marcas {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}

.animate-marcas {

  width: max-content;

  animation: marcas 25s linear infinite;

}

/* =======================================
   Header Sticky Animation
======================================= */

@keyframes slideDown {

    from {

        transform: translateY(-100%);
        opacity: 0;

    }

    to {

        transform: translateY(0);
        opacity: 1;

    }

}

.animate-slideDown{

    animation: slideDown .35s ease forwards;

}
